.content__nav {
    position: fixed; /* Fijar la posición */
    top: 0; /* Ajustar a la parte superior de la página */
    left: 0; /* Ajustar al margen izquierdo de la página */
    width: 100%; /* Ocupar todo el ancho de la página */
    z-index: 1; /* Asegurar que se encuentra encima de otros elementos */
    padding-bottom: .1%;
    background-color: #233942;
}

.navbar_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12vh;
    background: linear-gradient(0deg, rgb(6, 11, 31) 28%, rgb(0, 0, 0) 75%);
    box-shadow: 1px 1px 30px 1px rgba(136, 242, 250, 0.603);
}

.icon_navbar {
    color: #13678A;
    font-size: 150%;
    animation: salto 1.5s linear;
}

.logo_nabvar{
    width: 18%;
}

@keyframes salto {

    0%,
    100% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(0, 20px);
    }

    40% {
        transform: translate(0, -20px);
    }

    60% {
        transform: translate(0, 15px);
    }

    80% {
        transform: translate(0, -10px);
    }

    95% {
        transform: translate(0, 5px);
    }
}

@media(min-width:760px) {
    .icon_navbar {
        font-size: 200%;
    }
}

@media(min-width:430px) {
    .logo_nabvar{
        width: 15%;
    }
}
@media(min-width:530px) {
    .logo_nabvar{
        width: 12%;
    }
}
@media(min-width:630px) {
    .logo_nabvar{
        width: 10%;
    }
}
@media(min-width:780px) {
    .logo_nabvar{
        width: 8%;
    }
}
@media(min-width:880px) {
    .logo_nabvar{
        width: 7%;
    }
}
@media(min-width:1024px) {
    .logo_nabvar{
        width: 5.5%;
    }
}


/* 
Para el responsiv utilizaremos mediaqueris
@media(min-width:600px){
    codigo style
}


color texto graiden
   background: linear-gradient(to right top, 
    #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-clip:content-box;
    -webkit-background-clip: content-box;
    color: transparent;
*/